<div>
  <h1>{{message}}</h1>
</div>
<div>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Employees</th>
    <th>Remove</th>
  </tr>
  <tr ng-repeat="employee in employees">
    <td>{{department.id}}</td>
    <td>{{department.name}}</td>
    <td><a ng-href="#/department/{{department.id}}/employees/">Show All</a></td>
    <td><button ng-click="deleteDepartment()">Delete</button></td>
  </tr>
</table>
</div>
<div>
  <h3>Add New Department</h3>
Name: <input ng-model="newName" type="test" name="department_name"> <button ng-click="addDepartment()">Add</button>
</div>
