<div>
  <h1>{{message}}</h1>
</div>
<div>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Remove</th>
  </tr>
  <tr ng-repeat="employee in employees">
    <td>{{employee.id}}</td>
    <td>{{employee.first_name}}</td>
    <td>{{employee.last_name}}</td>
    <td><button ng-click="deleteEmployee(employee.id)">Delete</button></td>
  </tr>
</table>
</div>
<div>
  <h3>Add New Employee</h3>
  <form class="form">
    <label>First Name : <input ng-model="newFirstName" type="test" name="employee_first_name"></label><br>
    <label>Last Name : <input ng-model="newLastName" type="test" name="employee_last_name"></label><br>
    <input type="submit" ng-click="addEmployee(department_id)" value="Save">
  </form>
</div>
